*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: red;
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 96px;
    background-color: white;
}
.first-s{
    width: 1440px;
    height: 660px;
    background-image: linear-gradient(110deg, #F5F5F5, #4B50FA, #F5F5F5);
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop{
    display: inline-block;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    margin-right: 40px;
}
.industry{
    display: inline-block;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    margin-right: 40px;
}
.resources{
    display: inline-block;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    margin-right: 322px;
}
.logo{
    display: inline-block;
}
.login{
    display: inline-block;
    font-family: roboto;
    margin-left: 231px;
    font-weight: 400;
    font-size: 16px;
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 50px;
    border-radius: 24px;
    border: 1px solid black;
    margin-left: 40px;
}
.b-info{
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
}
.buy{
    margin-left: 35px;
}
.img{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.txt{
    position: absolute;
    top: 135px;
    left: 295px;
    width: 680px;
    font-family: roboto;
    font-weight: 900;
    font-size: 155px;
}
.info{
    margin-left: 888px;
    margin-top: -307px;
    width: 424px;
    font-family: roboto;
    font-weight: 400;
    font-size: 32px;
}
.f-s-button{
    margin-left: 888px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 208px;
    height: 48px;
    border-radius: 24px;
    background-color: black;
    color: white;
}
.f-s-b-i{
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
}
.last{
    display: flex;
    align-items: center;
    margin-left: 894.5px;
    margin-top: 25.5px;
}
.kr{
    display: inline-block;
    width: 22.65px;
    height: 22.65px;
    border: 1px solid black;
    border-radius: 100%;
}
.idk{
    margin-left: 13px;
    width: 156px;
    display: inline-block;
    font-family: roboto;
    font-weight: 400;
    font-size: 16px;
    text-decoration: underline;
}
.second-s{
    display: flex;
    flex-direction: row;
    width: 1440px;
    height: 1096px;
    background-color: #F5F5F5;
    background-image: url("../images/RA_OwlLabs_WidescreenGIF_panning_v1\ 1.png");
    background-position: 60px 130px;
    background-repeat: no-repeat;
}
.s-s-text{
    display: flex;
    flex-direction: column;
}
.s-s-title{
    margin-top: 636px;
    margin-left: 144px;
    width: 452px;
    font-family: roboto;
    font-size: 83px;
    font-weight: 900;
}
.s-s-undertitile{
    margin-top: 23px;
    margin-left: 144px;
    width: 466px;
    font-family: roboto;
    font-size: 32px;
    font-weight: 400;
}
.s-s-img-1{
    margin-left: 344px;
    margin-top: 406px;
}
.s-s-img-2{
    position: absolute;
    top: 1062px;
    left: 1048px;
}
.third-s{
    width: 1440px;
    height: 970px;
    background-color: #FFB480;
    background-image: url("../images/Group.png");
    background-size: 1439.3px  969.51px;
}.t-s-inf{
    display: flex;
    flex-direction: row;
    margin-top: 128px;
    margin-left: 60px;
    margin-right: 60px;
}
.t-s-txt{
    display: flex;
    flex-direction: column;
}
.t-s-title{
    width: 420px;
    margin-top: -21px;
    margin-left: 84px;
    font-family: roboto;
    font-size: 85px;
    font-weight: 900;
}
.t-s-undertitle{
    margin-top: 43px;
    margin-left: 84px;
    width: 406px;
    font-family: roboto;
    font-size: 32px;
    font-weight: 400;
}
.t-s-button{
    margin-top: 40px;
    margin-left: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 48px;
    background-color: #4B50FA;
    border-radius: 24px;
}
.t-s-b-t{
    display: inline-block;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}
.t-s-imgs{
    display: flex;
    flex-direction: row;
}
.t-s-f{
    width: 346px;
    height: 480px;
    margin-left: 112px;
    margin-top: 0px;
}
.t-s-s{
    width: 346px;
    height: 480px;
    margin-left: 37px;
    margin-top: 0px;
}
.fourth-s{
    width: 1440px;
    height: 904px;
    background-color: #FFFFFF;
    background-image: url("../images/Rectangle\ fourth\ section.png");
}
.fo-s-txt{
    display: flex;
    flex-direction: column;
}
.fo-s-t{
    width: 587px;
    margin-top: 56px;
    margin-left: 140px;
    font-family: roboto;
    font-weight: 900;
    font-size: 87px;
}
.fo-s-ut{
    width: 395px;
    margin-top: 14px;
    margin-left: 140px;
    font-family: roboto;
    font-weight: 400;
    font-size: 32px;
}
.fo-s-button{
    margin-top: 40px;
    margin-left: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    height: 48px;
    background-color: #4B50FA;
    border-radius: 24px;
}
.fo-s-b-t{
    display: inline-block;
    font-family: roboto;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
}